<!-- page1.html -->

{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  

<div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="/profilex/" style="text-decoration: none; color: inherit;">
          <div class="card" style="height: 150px;">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize"><b>Profile</b></p>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
            </div>
          </div>
        </a>
        
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="/attendancex/" style="text-decoration: none; color: inherit;">

        <div class="card" style="height: 150px;">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">weekend</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize"><b>Attendance</b></p>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
          </div>
        </div>
      </a>
      </div>
     
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="/leaveapplicationx/" style="text-decoration: none; color: inherit;">

        <div class="card" style="height: 150px;"> <!-- Adjust the height as needed -->
          <div class="card-header p-4 pt-2"> <!-- Adjusted p-4 for increased height -->
              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n3 position-absolute">
                  <i class="material-icons opacity-10">work</i>
              </div>
              <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize"><b>Leave application</b></p>
              </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-4"> <!-- Adjusted p-4 for increased height -->
          </div>
        </a>
      </div>
      
      </div>
      <div class="col-xl-3 col-sm-6">
        <a href="/leavestatus/" style="text-decoration: none; color: inherit;">

        <div class="card" style="height: 150px;">
          <div class="card-header p-3 pt-2">
            <div class="icon icon-lg icon-shape bg-gradient-danger shadow-info text-center border-radius-xl mt-n4 position-absolute">
              <i class="material-icons opacity-10">work</i>
            </div>
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize"><b>Leave status</b></p>
            </div>
          </div>
          <hr class="dark horizontal my-0">
          <div class="card-footer p-3">
          </div>
        </div>
        </a>
      </div>
      
    </div>
 
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" style="margin-top: 3%;">
        <a href="/weekoff/" style="text-decoration: none; color: inherit;">
          <div class="card" style="height: 150px;">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-info shadow-primary text-center border-radius-xl mt-n4 position-absolute">

                <i class="material-icons opacity-10">weekend</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize"><b>Weekoff</b></p>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
            </div>
          </div>
        </a>
        
      </div>
    
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" style="margin-top: 3%;">
        <a href="/publicholidays/" style="text-decoration: none; color: inherit;">
          <div class="card" style="height: 150px;">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-secondary shadow-primary text-center border-radius-xl mt-n4 position-absolute">

                <i class="material-icons opacity-10">public</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize"><b>Public Holiday</b></p>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
            </div>
          </div>
        </a>
        
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" style="margin-top: 3%;">
        <a href="/salaryx/" style="text-decoration: none; color: inherit;">
          <div class="card" style="height: 150px;">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-warning shadow-primary text-center border-radius-xl mt-n4 position-absolute">

                <i class="material-icons opacity-10">money</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize"><b>Salary slip</b></p>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
            </div>
          </div>
        </a>
        
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4" style="margin-top: 3%;">
        <a href="/productivityemployee/" style="text-decoration: none; color: inherit;">
          <div class="card" style="height: 150px;">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">

                <i class="material-icons opacity-10">work</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize"><b>Productivity</b></p>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
            </div>
          </div>
        </a>
        
      </div>

  </div>


{% endblock %}
