
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% load static %}

<div class="container-fluid px-2 px-md-4">
  <h2 class="text-center mb-4">Profile</h2>

  <div class="page-header min-height-200 border-radius-xl mt-4" style="background-image: url('/assets/img/profilebackgrnd.jpg');">
    <span class="mask bg-gradient-dark opacity-6"></span>
  </div>
</div>

    
    <div class="card card-body mx-3 mx-md-4 mt-n6">
      <div class="row gx-4 mb-2">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative" style="width: 200px; height: 200px;">
            <img src="{% static img %}" alt="profile_image" class="w-100 h-100 border-radius-lg shadow-sm">
          </div>
          
        </div>
        
        <div class="col-auto my-auto">
          <div class="h-100">
            <h4 class="mb-1">
             {{a.name}}
            </h4>
            <p class="mb-0 font-weight-normal text-sm">
              {{a.designation}}
            </p>
          </div>
        </div>
        
    
        <div class="col-lg-3 col-md-4 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
          <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1" role="tablist">
              <li class="nav-item">
                <a class="nav-link mb-0 px-0 py-2 active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                  <span class="ms-1"><b>EMPLOYEE ID: {{a.employeeid}}</b></span>
                </a>
              </li>
           
           
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <style>
            .card-container {
                background-color: #f8f9fa; /* Set your desired background color */
                border: 1px solid #dee2e6; /* Set your desired border color */
                border-radius: 10px; /* Adjust as needed for rounded corners */
                padding: 15px; /* Adjust padding as needed */
                margin-bottom: 20px; /* Adjust margin as needed */
            }
        </style>
        {% comment %} <div class="btn-container text-end">
          <a href="/editprofile/" class="btn btn-light btn-sm me-4">
            <i class="zmdi zmdi-search"></i>Edit details
          </a>
        </div>  {% endcomment %}
          <div class="col-12 col-xl-6">
            <div class="card-container">
                <div class="card card-plain h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h5 class="mb-0"><u>PERSONAL DETAILS</u></h5>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <hr class="horizontal gray-light my-4">
                        <ul class="list-group">
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">EMAIL:</strong> &nbsp; {{a.email}}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">BLOOD GROUP:</strong> &nbsp; {{a.bloodgroup}}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">PHONE NUMBER:</strong> &nbsp; {{a.phonenumber}}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">DATE OF BIRTH:</strong> &nbsp; {{a.dateofbirth}}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">JOINING DATE:</strong> &nbsp; {{a.joiningdate}}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">ADDRESS:</strong> &nbsp; {{a.address}}</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
          <style>
            .card-container {
                background-color: #f8f9fa; /* Set your desired background color */
                border: 1px solid #dee2e6; /* Set your desired border color */
                border-radius: 10px; /* Adjust as needed for rounded corners */
                padding: 15px; /* Adjust padding as needed */
                margin-bottom: 20px; /* Adjust margin as needed */
            }
        </style>
        
          <div class="col-12 col-xl-6">
            <div class="card-container">
                <div class="card card-plain h-100">
                    <div class="card-header pb-0 p-3">
                        <div class="row">
                            <div class="col-md-8 d-flex align-items-center">
                                <h5 class="mb-0"><u>BANK ACCOUNT DETAILS</u></h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <hr class="horizontal gray-light my-4">
                        <ul class="list-group">
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">ACCOUNT NUMBER:</strong> &nbsp; {{a.accountnumber}}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">BANK NAME:</strong> &nbsp; {{a.bankname}}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">BRANCH:</strong> &nbsp; {{a.branch}}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">IFSC CODE:</strong> &nbsp; {{a.ifsccode}}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">SALARY:</strong> &nbsp; {{a.salary}}</li>
                            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">LOGINTIME:</strong> &nbsp; {{a.logintime}}</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
