{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

{% load static %}


<style>
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
  }

 

  #month-year-picker {
    width: 200px;
  }

  h3 {
    color: grey;
    margin-top: 20px;
  }

  .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    color: #ffffff;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
  }

  .card-body {
    padding: 20px;
  }

  .list-group-item {
    border: none;
    border-radius: 10px;
  }

  .earning-deduction-table {
    margin-top: 20px;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .earning-deduction-table th,
  .earning-deduction-table td {
    padding: 5px;
    text-align: center;
    border: 1px solid #dee2e6;
  }

  .table-success {
    background-color: #d4edda;
  }

  .text-center {
    margin-top: 20px;
  }
</style>
    

      <div class="container-fluid py-4 custom-container">
        <form method="POST" action="{% url 'page6' %}">
          {% csrf_token %}

          <input type="month" id="month-year-picker" name="month-year-picker" min="2018-03" value="2024-01" /><br>
          <button type="submit" class="btn bg-gradient-dark w-10 my-4 mb-2">View</button>
          
        </form>
      </div>
    
      <h3 style="text-align:center;">Salary Slip</h3>
    
      <div class="row justify-content-center">
        <div class="col-md-8 mt-4">
          <div class="card " id="salary_slip">

            <div class="card-header bg-secondary p-4 d-flex justify-content-between">

              <div>
                <h2 class="mb-3 text-white"><b>ICT Global Tech</b></h4>
                <p>KS8, 8th Floor, Heavenly Plaza, Civil Line Rd<br> Vazhakkala, Kochi, Kerala 682030<br></p>
                <p class="text-light py-3"><i class="fa fa-envelope"></i> info@ictglobaltech.com</p>
              </div>

              <div class="text-center">
                <img src="/static/ict logo.png" alt="Company Logo" style="" width="150">
                <p class="text-light mt-3"><i class="fa fa-globe"></i> www.ictglobaltech.com</p>
              </div>

              
            </div>
    
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6>Name: {{a.name}}</h6>
                    <p>Employeeid: {{a.employeeid}}</p>
                    <p>Designation: {{a.designation}}</p>
                   
                  </div>
                </li>
                
            </ul>

           
            <p>Month: {{salary_slips.0.month}}, {{salary_slips.0.year}}</p>
                <table class="table earning-deduction-table" border="4" >
                  <thead>
                    <tr>
                      <th style="background-color: #6c8182; color: #fff;">Earnings</th>
                      <th style="background-color: #6c8182; color: #fff;">Amount</th>
                      <th style="background-color: #6c8182; color: #fff;">Deductions</th>
                      <th style="background-color: #6c8182; color: #fff;">Count</th>
                      <th style="background-color: #6c8182; color: #fff;">Deducted amount</th>
                    </tr>
                  </thead>
                  <tbody>
    
                  <tr>
                    <td>Salary</td>
                    <td>Rs. {{ a.salary }}</td>
                    <td>Paid Leave</td>
                    <td>{{ salary_slips.0.paidleave}}</td>
                   
                  </tr>
                  <tr>
                    <td>Total Working days<br>
                      (including holidays,<br> Week Off & PL)</td>
                    <td>{{ salary_slips.0.totalPayableDays }}</td>
                    <td>Salary<br>Deducted Leave</td>
                    <td>{{ salary_slips.0.salarydeductedleave }}</td>
                   
                  </tr>
                  <tr>
                    <td>Incentive</td>
                    <td>Rs. {{ salary_slips.0.incentive }}</td>
                    <td>Late Login Count</td>
                    <td>{{ salary_slips.0.Latelogin }}</td>
                    <td>{{ salary_slips.0.deductionamount }}</td>
                  </tr>
  
                  <tr class="table-success">
                    <td colspan="3"><strong>Total Pay out</strong></td>
                    <td colspan="3"><strong>Rs. {{ salary_slips.0.monthlysalary }}</strong></td>
                  </tr>
                </tbody>
              </table>
              
          </div>
          
          
        </div>
      </div>
      <div class="text-center">
        <button type="button" id="download" class="btn btn-dark">Download Salary Slip</button>
        </a>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
          <script>
            document.getElementById('download').addEventListener('click', function() {
                var element = document.getElementById('salary_slip'); // The ID of the element you want to convert to PDF
                var pdfOptions = {
                    filename: '{{a.name}} salary_slip.pdf',
                };
                html2pdf()
                    .from(element)
                    .set(pdfOptions)
                    .save();
            });
            </script>


            

{% endblock %}
