{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

{% load static %}
<div class="container-fluid py-4 custom-container">
    <div class="row">
      <div class="col-10">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Salary</h6>
           
            
            

            </div>
          </div>
 

          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Month</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">View</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                       
                          <div class="month-year-selection" style="margin-top: 2%; margin-right: 5%; text-align: end;">
                              <input type="month" id="month-year-picker" name="month-year-picker" min="2018-03" value="2024-01"/>
                          </div>
                      </div>
                    </td>
                 
                  
                   
                    <td>
                      <a href="/salaryslipx/" class="btn bg-gradient-dark w-50 my-4 mb-2">View</a>
                  </td>
                  </tr>
              
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3 style="text-align:center">Latest Salary Slip</h3>
    <div class="row" style="justify-content: center;">
      <div class="col-md-9 mt-4">
        <div class="card">
          <div class="card-header pb-0 px-3">
            <h4 class="mb-3"><b>ICT Global Tech</b></h4>

            <div style="display: flex; align-items: flex-start;">
              <div>
                <p><a href="http://www.ictglobaltech.com" target="_blank">www.ictglobaltech.com</a></p>
                <p>KS8, 8th Floor, Heavenly Plaza, Civil Line Rd<br>
                  Vazhakkala, Kochi, Kerala 682030<br></p>
                <p><a href="mailto:info@ictglobaltech.com">info@ictglobaltech.com</a></p>
              </div>
              <img src="/static/assets/img/ictlogotext.png" alt="Company Logo"
                style="max-height: 120px; margin-left: 150px; align-self: flex-start;">
            </div>




          </div>
          <div class="card-body pt-8 p-3">
            <ul class="list-group">
              <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                <div class="d-flex flex-column">
                  <h6>Name: {{a.name}}</h6>
                  <p>Employeeid: {{a.employeeid}}</p>
                  <p>Designation: {{a.designation}}</p>
                  <p>Month: {{a.month}}</p>
                </div>

              </li>
              <table class="table earning-deduction-table" border="4" style="width: 30%;">
                <thead>
                  <tr>
                    <th style="background-color: #6c8182; color: #fff;">Earnings</th>
                    <th style="background-color: #6c8182; color: #fff;">Amount</th>
                    <th style="background-color: #6c8182; color: #fff;">Deductions</th>
                    <th style="background-color: #6c8182; color: #fff;">Count</th>
                    <th style="background-color: #6c8182; color: #fff;">Deducted amount</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Salary</td>
                    <td>{{a.salary}}</td>
                    <td>Paid Leaves</td>
                    <td>1</td>
                    <td>500.00</td>
                  </tr>
                  <tr>
                    <td>Total Working days<br>
                      (including holidays,<br> Week Off & PL)</td>
                    <td>20</td>
                    <td>Leaves<br>Salary Deducted</td>
                    <td>1</td>
                    <td>500.00</td>
                  </tr>
                  <tr>
                    <td>Net Amount<br>(After Deduction)</td>
                    <td>500.00</td>
                    <td>Late Login Count</td>
                    <td>2</td>
                    <td>500.00</td>
                  </tr>

                  <tr class="table-success">
                    <td colspan="3"><strong>Total Pay out</strong></td>
                    <td colspan="3"><strong>5,950.00</strong></td>
                  </tr>
                </tbody>
              </table>


            </ul>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-dark">Download Salary Slip</button>
            </a>
          </div>
        </div>

      </div>


    </div>
  </div>
</main>

{% endblock %}
